.cursor {
  position: fixed;
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 50%;
  pointer-events: none;
  will-change: transform;
  z-index: 9999;
  backdrop-filter: grayscale(1);
  mix-blend-mode: difference;
}

/* //burger */


.button{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #455CE9;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  position: relative;
}

.burger{
  width: 100%;
  &::after, &::before{
      content: "";
      display: block;
      height: 1px;
      width: 40%;
      margin: auto;
      background-color: white;
      position: relative;
      transition: transform 0.3s;
  }

  &::after{
      top: -5px;
  }

  &::before{
      top: 5px;
  }
}

.burgerActive{

  &::after{
      transform: rotate(45deg);
      top: -1px;
  }

  &::before{
      transform: rotate(-45deg);
      top: 0px;
  }
  
}

/* SVG  */

.svgCurve {
  position: absolute;
  top: 0;
  left: -99px; 
  width: 100px; 
  height: 100%;
  fill: #292929;
  stroke: none;
  pointer-events: none; /* This allows clicks to pass through the SVG */
}