.btns{
    @apply text-white px-6 py-3 rounded-lg bg-transparent border relative flex items-center gap-2 overflow-hidden
}
.hoverBg::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    transition: height 0.5s ease-in-out;
    z-index: -1;
  }
  
  .hoverBg:hover::before {
    height: 100%;
  }