.clipCustom {
    clip-path: polygon(0 -1px, 100% -1px, calc(100% - 10px) 100%, 10px 100%);
  }

.labelName {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid white;
    color: white;
  }
  
  .labelName::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom: 3px solid #00eeff;
    transform: translateX(-100%);
    transition: all 0.3s ease;
  }
  
  .contentName {
    position: absolute;
    bottom: 10px;
    left: 0;
    padding-bottom: 5px;
    transition: all 0.3s ease;
  }
  
  input:focus + .labelName .contentName,
  input:valid + .labelName .contentName {
    transform: translateY(-150%);
    font-size: 14px;
    color: #00eeff;
  }
  
  input:focus + .labelName::after,
  input:valid + .labelName::after {
    transform: translateX(0%);
  }
  

  .container{
    display: flex;
}
